/ {

        behaviors {

		ltf: layer_tap_fast {
                    compatible = "zmk,behavior-hold-tap";
                    label = "LAYER TAP FAST";
                    #binding-cells = <2>;
                    tapping-term-ms = <125>;
                    quick_tap_ms = <125>;
                    flavor = "balanced";
                    bindings = <&mo>, <&kp>;
                };

		sm: smart_shift {
                    compatible = "zmk,behavior-mod-morph";
                    label = "SMART SHIFT";
                    #binding-cells = <0>;
                    mods = <(MOD_LSFT)>;
                    bindings = <&sk LSFT>, <&caps_word>;
                };

		smn: smart_number {
                    compatible = "zmk,behavior-hold-tap";
                    label = "SMART NUMBER";
                    #binding-cells = <2>;
                    tapping-term-ms = <150>;
                    quick_tap_ms = <150>;
                    flavor = "balanced";
                    bindings = <&mo>, <&num_word>;
                };

	};

};
